<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_with model: [ @shopping, @item ], remote: remote do |form| %>
  <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :quantity %><br>
    <%= form.number_field :quantity, value: (form.object.quantity || 1), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :unit_price %><br>
    <%= form.number_field :unit_price, value: (form.object.unit_price || 0), step: :any, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to "Indietro", edit_shopping_path(@shopping), class: 'btn btn-danger' %>
  </div>
<% end %>