<% unless item.id == nil || item.id == 0 %>
<tr id="tr_item_<%= item.id %>" <% if item.taken? %> class="selectedItem"<% end %>>
  <td><input type="checkbox" name="itemChk" class="itemChk" id="itemChk_<%= item.id %>" <% if item.taken? %> checked<% end %>></td>
  <td><%= item.name %></td>
  <td id="item-<%= item.id %>"><%= item.quantity %></td>
  <td><%= item.unit_price %> €</td>
  <td id="total_price-<%= item.id %>"><%= item.total_price.round(2) %> €</td>
  <td id="item_paid-<%= item.id %>">
    <%#<%= link_to "Da Pagare", { controller: 'items', action: :paid_item, id: item.id }, { class: "btn btn-primary btn-xs", method: :post, remote: true} %>
    <% if item.payed? %>
      <%= link_to 'Pagato', {controller: 'items', action: 'paid_item', id: item.id}, 
              method: :post, :remote => true,
              class: "btn btn-success btn-xs" %>
    <% else %>
      <%= link_to 'Da Pagare', {controller: 'items', action: 'paid_item', id: item.id}, 
              method: :post, :remote => true,
              class: "btn btn-primary btn-xs" %>
    <%#<%= link_to controller: 'items', action: 'calculateprice', id: item.id, method: :post, :remote => true,
              class: "btn btn-warning btn-xs" do %>
    <% end %>
  </td>
  <td>
    <% if can? :update, item %>
      <%= link_to '-1', {controller: 'items', action: 'calculateprice', 
              my: {id: item.id, k: '1', op: 'min'}}, 
              method: :post, :remote => true,
              class: "btn btn-warning btn-xs" %>
            
      <%= link_to '+1', {controller: 'items', action: 'calculateprice', 
              my: {id: item.id, k: '1', op: 'sum'}}, 
              method: :post, :remote => true,
              class: "btn btn-info btn-xs" %>
        <%#</div>#%>
    <% end %>
  </td>
  <td>
    <div class="button-container">
      <% if can? :update, item %>
        <%= link_to edit_shopping_item_path(item.shopping_id, item), remote: true, class: 'btn btn-success btn-xs' do %>
          <i class="fa fa-pencil-square-o"></i>
        <% end %>
      <% end %>
      <% if can? :destroy, item %>
        <%= button_to shopping_item_path(item.shopping_id, item.id), class: 'btn btn-danger btn-xs', method: :delete do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
<% end %>