$('#items-<%= @shopping.id %> > tbody:last-child').append('<tr id="tr_item_<%= item.id %>">' + 
  '<td><%= item.name %></td>' +
  '<td id="item-<%= item.id %>"><%= item.quantity %></td>' +
  '<td><%= item.unit_price %> €</td>' + 
  '<td id="total_price-<%= item.id %>"><%= item.total_price.round(2) %> €</td>' +
  '<td><%= link_to "-1", {controller: "items", action: "calculateprice", my: {id: item.id, k: "1", op: "min"}}, :method => :post, :remote => true, class: "btn btn-warning btn-xs" %> ' +
  '<td><%= link_to "+1", {controller: "items", action: "calculateprice", my: {id: item.id, k: "1", op: "sum"}}, :method => :post, :remote => true, class: "btn btn-info btn-xs" %>' +
  '</td>' + 
  '<td>' +
    '<%= link_to "Modifica", edit_shopping_item_path(item), :remote => true, class: "btn btn-success btn-xs" %> <%= link_to "Elimina", {controller: "items", action: "remove", my: {id: item.id}}, :method => :delete, :remote => true, class: "btn btn-danger btn-xs" %>' +
  '</td>' +
'</tr>');