<% if @date_start.present? && @date_end.present? %>
	<h4 class="text-muted">Spese dal <%= @date_start %> al <%= @date_end %></h4>
<% end %>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Data</th>
			<th>Totale</th>
			<th>Stato</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

			<% @shoppings.each do |shopping| %>
			<tr>
				<td><%= shopping.date_shopping.strftime("%d/%m/%Y") %></td>
				<td><%= shopping.total.round(2) %> €</td>
				<td>
					<% if !shopping.archived? %> 
					 <span class="badge badge-success"><%= shopping.status.capitalize %>
					 <% else %>
					<span class="badge badge-warning"><%= shopping.status.capitalize %>
					 </span>
					<% end %>
				</td>
				<td>
					<% if can? :read, shopping %>
						<%= link_to "Vedi", shopping, class:'btn btn-xs btn-info' %>
					<% end %>
					<% if can? :update, shopping %>
						<% unless shopping.archived? %>
							<%= link_to "Modifica", edit_shopping_path(shopping), class: 'btn btn-xs btn-success' %>
						<% end %>
					<% end %>
				</td>
			</tr>
			<% end %>
	</tbody>
	<tfoot>
		<tr>
			<th>Totale</th>
			<td><%= @result_total_price.round(2) %> €</td>
			<td></td>
	</tfoot>
</table>