<h1>Shoppings List</h1>
<%= link_to 'Nuova Spesa', new_shopping_path, method: :get, class: "btn btn-info margin-down" %>
<div class="row">
	<div class="col-md-5 mb-3">
		<label for="ddl_period">Ricerca</label>
		<%= select_tag( "ddl_period",  options_for_select([ ["Tutte", 1], ["Ultimi 7 giorni", 2], ["Ultimi 30 giorni", 3] ], ["Tutte", 1]), class: "custom-select classic d-block w-100",
		  data: {
		    remote: true,
		    url: 'shoppings/search',
		    method: 'post',
		    format: :js
		  }
		)
		%>	
	</div>	
</div>
<div class="row">
	<div class="col-md-5 mb-3">
		<label>Ricerca per date</label>
		<%= form_with url: shoppings_search_by_dates_path, local: false do |form| %>
			<div class="form-group">
				<%= form.label :date_start %>
				<%= form.date_field :date_start, attribute: 'date' %>
				<%= form.label :date_end %>
				<%= form.date_field :date_end, attribute: 'date' %>
				<%= form.submit "Cerca", class: 'btn btn-primary' %>
			</div>
		<% end %>
	</div>	
</div>
<div id="shoppingTable">
	<%= render 'shoppinglists' %>
</div>