<!DOCTYPE html>
<html>
  <head>
    <title>Shopping List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <%#<%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.25/sorting/datetime-moment.js"></script>
  </head>

  <body>
    <% if user_signed_in? %> 
    <nav class="navbar bg-primary">
      <span id="toggle-nav" onclick="toggleNav()">
        <i class="fa fa-bars"></i>
      </span>
      <ul id="navlist">
        <li>
          <%= link_to shoppings_path do %>
            <i class="fa fa-home"></i> Home
          <% end %>
        </li>
        <li>
          <%= link_to shoppings_path do %>
              <i class="fa fa-list-alt"></i> Elenco Spese
            <% end %>
          </li>
        <li>
          <%= link_to new_shopping_path do %>
            <i class="fa fa-cart-plus fa-2"></i> Nuova Spesa
          <% end %>
        </li>
        <li></li>
        <li>
          <% if user_signed_in? %> 
            <i class="fa fa-user-o fa-1"></i> <%= current_user.email %> 
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
            <% end %>
        </li>
      </ul>
    </nav>

   <!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
    
        <%#<%= link_to 'Home', shoppings_path, class: 'navbar-brand' %>
     
        <div class="collapse navbar-collapse"
             id="navbarColor01">
     
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%#<%= link_to "Elenco Spese",shoppings_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%#<%= link_to "Nuova Spesa",new_shopping_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>-->
    <% end %>
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 
    <div class="div-container">
      <%= yield %>
    </div>
  </body>
  <script>
    
    var nav = document.getElementById('navlist');

    function toggleNav() {       

      if ( nav.style.display === "" )
        nav.style.display = "block";

      else
        nav.style.display = "";
    }


    function windowResizeHandler () {
      if ( screen.width > 500 )
        nav.style.display = "";
    }

    window.addEventListener("resize", windowResizeHandler);

</script>
</html>
